@use '../components/utils' as u;

.card {
    width: 280px;
    min-height: 200px;

    background: #FBFBFB;
    border: 1px solid #EFEDED;
    border-radius: 4px;
    filter: drop-shadow(1px 2px 8px rgba(113, 113, 113, 0.14));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    @include u.media('phone-wide', max){
        width: 100%;
    }
    &__photo {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin-bottom: 12px;
    }

    &__name {
        font-weight: 500;
        font-size: u.rem(20);
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #302F2F;
        margin-bottom: 8px;
    }
    &__image-wrp {
        display: flex;
        align-items: center;
    }
    &__mail {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #989191;
        margin-bottom: 4px;
    }
    &__mail-svg {
        margin-right: 8px;
    }

    &__svg {
        width: 25px;
        height: 25px;
        @media (any-hover: hover){
            &:hover{
                fill: #4a4949;
            }
        }
    }

}

body {
    &.dark {
        .card {
            background-color: u.$color-gray;
            border: 1px solid u.$color-gray;
            &__name {
                color: u.$font-color-dark-theme;
            }
            &__svg {
                fill: #f4ec92;
                @media (any-hover: hover){
                    &:hover{
                        fill: #837800
                    }
                }
            }
        }
    }
}
