@use '../components/utils' as u;

.header {
    height: u.rem(112);
    padding-top: u.rem(30);
    padding-bottom: 30px;
    box-shadow: 0px 4px 35px -22px rgb(68 82 108);
    position: fixed;
    background-color: u.$color-bg-light;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &__title,
    .text-typing {
        display: inline;
        font-weight: 500;
        font-size: u.rem(40);
        letter-spacing: 0.02em;
        color: u.$base-font-color;
    }
}
body {
    &.dark {
        .header {
            background-color: u.$color-bg-dark;
            &__title,
            .text-typing {
                display: inline;
                font-weight: 500;
                font-size: u.rem(40);
                letter-spacing: 0.02em;
                color: u.$font-color-dark-theme;
            }
        }
    }
}
.container--big {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}



//========================================================================================================================================================
//Burger
// .icon-menu {
// 	display: none;
// 	@media (max-width: $tablet) {
// 		display: block;
// 		position: relative;
// 		width: 40px; // задаем ширину бургера что бы его не плющело (width - не подходит)
// 		height: rem(23);
// 		z-index: 10;
// 		@media (any-hover: none) {
// 			cursor: default;
// 		}
// 		span,
// 		&::before,
// 		&::after {
// 			content: "";
// 			transition: all 0.3s ease 0s;
// 			right: 0;
// 			position: absolute;
// 			width: 100%;
// 			height: rem(2);
// 			background-color: #fff;
// 		}
// 		&::before {
// 			top: 0;
// 		}
// 		&::after {
// 			bottom: 0;
// 		}
// 		span {
// 			top: calc(50% - rem(1));
// 		}
// 		.menu-open & {
// 			span {
// 				width: 0;
// 			}
// 			&::before,
// 			&::after {
// 			}
// 			&::before {
// 				top: calc(50% - rem(1));
// 				transform: rotate(-45deg);
// 			}
// 			&::after {
// 				bottom: calc(50% - rem(1));
// 				transform: rotate(45deg);
// 			}
// 		}
// 	}
// }