// COLORS
$color-white: #fff;
$color-black: #000000;
$color-bg-light: #fff;
$color-bg-dark: #0E0E0F;
$color-gray: #292D32;

// FONTS
$primary-font: 'Rubik';
$base-font-size: 16px;
$base-font-color: #303030;
$font-color-dark-theme: #FFFFFF;

// OFFSET
$mobile-container-padding-x: 16px;
